<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}COMVEN{% endblock %}</title>
</head>

<body>
    <div class="titulo_principal">{% block section_title %}
    {% if user.is_authenticated %}
        Bienvenido, {{ request.user }}
    {% else %}
        Bienvenido invitado, le recuerdo que para algunas caracteristicas debera iniciar sesion
        {% endif %}{% endblock %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/accounts/register">Registrarse</a></li>
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            <li><a href="/juego/crear">Registrar juego</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
