{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}

{% block content %}

{% if juego %}
    <div class="list-group">
    {% for n in juego %}
        <li class="list-group-item"><a href="{% url 'comven:detail' n.id %}">{{ n.titulo }}</a></li>
    {% endfor %}
    </div>
{% else %}
    <p>No hay juegos</p>
{% endif %}
{% endblock %}
